	<!-- Home start -->
{% extends "base-cirujanos.html" %}
{% block titulo %} {{nombre}} {% endblock %}

{% block home %}
    <section id="home" class="pfblock-image screen-height">
        <div class="home-overlay"></div>
        <div class="intro">
            <div class="start" style="font-family: Raleway, "Times New Roman", Times, sans-serif;"></div>
            <h1>Libera tu belleza</h1>
            <br>
            <h2> Dr. {{nombre}}</h2>
            <h2></h2>
            <div class="start">Cirujano plástico</div>
            <h3>Experiencia, seguridad y calidad.</h3>
        </div>

        <a href="#services">
        <div class="scroll-down">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
        </div>
        </a>

    </section>
{% endblock %}


    {% block header %}
	<header class="header">

		<nav class="navbar navbar-custom" role="navigation">

			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Dr. Sebatian Macias</a>
				</div>

				<div class="collapse navbar-collapse" id="custom-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#services">Nosotros</a></li>
						<li><a href="#portfolio">Cirugía Facial</a></li>
                        <li><a href="#portfolio1">Cirugía Corporal</a></li>
                        <li><a href="#portfolio2">Sin cirugía</a></li>
						<li><a href="#testimonials">Testimonios</a></li>
						<li><a href="#contact">Contacto</a></li>
					</ul>
				</div>

			</div><!-- .container -->

		</nav>

	</header>
{% endblock %}


    {% block services %}

	<section id="services" class="pfblock pfblock-gray">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">Dr. Sebastian Macias</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							Su amplia experiencia en técnicas en cirugía plástica y reconstructiva la adquirió en importantes instituciones de Colombia como: la Clínica San Pedro Claver, Clínica Mandalay, Urgencias Cruz Rojas SAMU, Director Médico de la Institución Aesthetic Hair Surgery, entre otras.
							<br>
							<br>
							Se especializó en París en Medicina Anti-Aging. Es miembro de la Sociedad Colombiana de Cirugía Plástica, de la Federación Ibero Latinoamericana de Cirugía Plástica y miembro de Plastic Reconstructive Aesthetic Society –IPRAS-.
							<br>
							<br>
							Su larga experiencia, excelentes resultados y compromiso con los pacientes  son unos de los factores que le han dado su reconocimiento en Colombia y en el mundo.
						</div>
					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-sm-3">

					<div class="iconbox wow slideInLeft">
						<div class="iconbox-icon">
							<span class="icon-badge"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Equipo médico</h3>
							<div class="iconbox-desc">
								El mejor equipo de anestesiólogos, nutricionistas, esteticistas completan el equipo.
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInLeft">
						<div class="iconbox-icon">
							<span class="icon-puzzle"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Instalaciones</h3>
							<div class="iconbox-desc">
								Contamos con salas de cirugía de última generación y salas de recuperación y observación
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInRight">
						<div class="iconbox-icon">
							<span class="icon-vector"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Alta tecnología</h3>
							<div class="iconbox-desc">
								Nuestros equipos de última generación garantizan la calidad, seguridad y efectividad de nuestros procedimientos.
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInRight">
						<div class="iconbox-icon">
							<span class="icon-graduation"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Hoja de vida</h3>
							<div class="iconbox-desc">
								Estudios, capacitaciones y congresos soportan toda su experiencia profesional.
							</div>
						</div>
					</div>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>
    {% endblock %}

{% block footer %}


	<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-sm-12">

					<ul class="social-links">
						<li><a href="index.html#" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
						<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li>
						<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
					</ul>

					<p class="heart">
                        Trabajamos con el <span class="fa fa-heart fa-2x animated pulse"></span> en {{ciudad}}
                    </p>
                    <p class="copyright">
                        {{nombre}} © 2015 
					</p>
                    <p class="copyright">
                        {{direccion}} | {{ciudad}} - Colombia
                    </p>
                    <p class="copyright">
                        Tel: {{telefono}}
                    </p>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</footer>
    {% endblock %}
