	<!DOCTYPE html>
<html>
<body>
<p>Buenas tardes {{nombre}}.</p>
<p>Soy Carlos Roso, del grupo creativo <strong>Join&amp;Enjoy</strong> de Bogotá y tenemos una propuesta para ti. </p>
<p>Hemos desarrollado un sitio web con las últimas tendencias en diseño para impulsar tus servicios. </p>

<div style="text-align: center">
	<table style="margin-left: auto; margin-right: auto;">  
		<tr style = "height:0;">
			<td></td>
			<td rowspan=2 ><img src="cid:Mock-up.jpg"></td>
			<!--td rowspan=2 ><img src="https://dl.dropboxusercontent.com/u/6625828/Mock-up.jpg"></td-->
		</tr>  
		<tr style = "vertical-align:middle;">
			<td colspan=2 style = " padding-bottom:10%; padding-left: 3%; color: #ffffff; text-align: center; text-transform: uppercase; font-size:1.4em;"> {{h1}}</td>
		</tr>   
	</table>
</div>

<div style="text-align: center">
	<p>En el siguiente link encontrarás una muestra de lo que podrá ser tu sitio web:</p>
	<a href="http://joinandenjoy.co/p/cirujano/{{link}}">http://joinandenjoy.co/p/cirujano/{{link}}</a>
</div>

<div style="text-align: center">
	<p>El día de hoy te presentamos la promoción especial por el mes de Junio, la cual incluye una página web en <strong>inglés y español</strong> con su respectivo diseño gráfico, programación, formulario de contáctenos, hosting, dominio web* y un correo corporativo por un año, por tan sólo <strong>$900.000 pesos.</strong></p>
</div>

<p>Esta promoción es válida únicamente por el mes de Junio.</p>
<p>Si tienes alguna duda, inquietud o sugerencia, no dudes en contactarnos.</p>


<p><strong>Carlos Roso</strong></p>
<p>carlos.roso@joinandenjoy.co</p>
<p>(+57) 304 5645155</p>

<p>No olvides visitar nuestra página web en <a href="www.joinandenjoy.co">www.joinandenjoy.co </a></p>

<br>
<p style ="font-size: 0.6em;">*Dominio web sujeto a disponibilidad.</p>
<p style ="font-size: 0.6em;">**La página web de muestra será deshabilitada en el 10 de julio de 2015</p>

</body>
</html>