<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.ico">

    <title>Estudio creativo</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/font-awesome.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}js/fancybox/jquery.fancybox.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
		
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="index.html#home">DSGN NYC</a></h1>
			<i class="fa fa-times menu-close"></i>
			<a href="#home" class="smoothScroll">Home</a>
			<a href="#about" class="smoothScroll">Nosotros</a>
			<a href="#portfolio" class="smoothScroll">Portafolio</a>
			<a href="#services" class="smoothScroll">Servicios</a>
			<a href="#contact" class="smoothScroll">Contacto</a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>

	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1>ESTUDIO CREATIVO</h1>
					<h2>JOIN&amp;ENJOY</h2>
				</div>
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/headerwrap -->
	
	<section id="about" name="about"></section>
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 name">
					<img class="img-responsive" src="{{STATIC_URL}}img/pic.png">
					<p>ESTUDIO CREATIVO</p>
					<div class="name-label"></div>
				</div><! --/col-lg-4-->
				<div class="col-lg-8 name-desc">
					<h2> COMBINAMOS INGENIERÍA Y DISEÑO <br/>DISEÑAMOS EXPERIENCIAS WEB <br/>DISFRUTANDO LA CIUDAD DE BOGOTÁ DESDE 2014</h2>
					<div class="name-zig"></div>
					
					
				</div><! --/col-lg-8-->
		
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->
	
	<! -- ABOUT SEPARATOR -->
	<div class="sep about" data-stellar-background-ratio="0.5"></div>
	
	<! -- PORTFOLIO SECTION -->
	<section id="portfolio" name="portfolio"></section>
	<div id="portfoliowrap">
		<div class="container">
			<div class="row">
				<h1>LO QUE HEMOS HECHO RECIENTEMENTE</h1>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="{{STATIC_URL}}img/portfolio/port04.jpg"><img class="img-responsive" src="{{STATIC_URL}}img/portfolio/port04.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="{{STATIC_URL}}img/portfolio/port05.jpg"><img class="img-responsive" src="{{STATIC_URL}}img/portfolio/port05.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="{{STATIC_URL}}img/portfolio/port06.jpg"><img class="img-responsive" src="{{STATIC_URL}}img/portfolio/port06.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
			</div><!-- /row -->
	
			<div class="row mt">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="{{STATIC_URL}}img/portfolio/port01.jpg"><img class="img-responsive" src="{{STATIC_URL}}img/portfolio/port01.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="{{STATIC_URL}}img/portfolio/port02.jpg"><img class="img-responsive" src="{{STATIC_URL}}img/portfolio/port02.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="{{STATIC_URL}}img/portfolio/port03.jpg"><img class="img-responsive" src="{{STATIC_URL}}img/portfolio/port03.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
			</div><!-- /row -->
		</div><! --/container -->
		<div class="container">
			<div class="row mt centered">
				<h1>NUESTRO PROCESO DE DISEÑO</h1>
				<div class="col-lg-4 proc">
					<i class="fa fa-coffee"></i>
					<h3>La reunión</h3>
					<p>Nuestra misión es plasmar a través de un sitio web la pasión de nuestro cliente por su negocio. Para esto, no hay nada mejor que conversar, quizás con un café, de las ideas que cada uno tiene.</p>
				</div>
				<div class="col-lg-4 proc">
					<i class="fa fa-cogs"></i>
					<h3>Las ideas</h3>
					<p>Seguimos un proceso creativo que involucra aspectos desde experiencia de usuario y diseño de interacción, hasta optimización de código y usabilidad en variedad de plataformas.</p>
				</div>
				<div class="col-lg-4 proc">
					<i class="fa fa-heart"></i>
					<h3>El producto</h3>
					<p>En Join&amp;Enjoy nos deleitamos en ver el rostro de satisfacción de nuestros clientes cuando ven su producto terminado. </p>
				</div>
				
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/Portfoliowrap -->

	<! -- PORTFOLIO SEPARATOR -->
	<div class="sep portfolio" data-stellar-background-ratio="0.5"></div>
	
	
	<! -- SERVICE SECTION -->
	<section id="services" name="services"></section>
	<div id="servicewrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8-offset-2 centered">
					<h1>UN POCO ACERCA LO QUE HACEMOS</h1>
					<h3>No, no nos dedicamos a hacer páginas web</h3>
					<p>Mostramos tu trabajo en internet de una manera que jamás lo imaginaste </p>
				</div><!-- /col-lg-8 -->
			</div><! --/row -->
			
			<div class="row mt">
				<div class="col-lg-3 service">
					<i class="fa fa-pencil"></i><p>DISEÑO DE MARCA<br/><small>OSEA, TU IMAGEN</small></p>
					<p class="text">Combinamos y disfrutamos. Es lo que hacemos con tu marca. Unimos tipografías, colores y conceptos para que tu trabajo sea comparado con los mejores.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-desktop"></i><p>DESARROLLO FRONTEND<br/><small>OSEA, LO QUE SE VE</small></p>
					<p class="text">No hacemos las páginas aburridas como las conoces. Incluimos interacciones, animaciones y experiencia de usuario que llevará tu sitio web al siguiente nivel.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-code"></i><p>DESARROLLO BACKEND<br/><small>OSEA, LO QUE NO SE VE</small></p>
					<p class="text">Desarrollamos con precisión tu sitio web desde las entrañas. Programamos las bases de datos, formularios, correo electrónico, hosting y dominios para que no tengas que preocuparte por daños o caidas de tu página.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-mobile-phone"></i><p>APLICACIONES MÓVILES<br/><small>OSEA, APPS PARA SMARTPHONES</small></p>
					<p class="text">Muchas veces no quieres un sitio web sino una aplicación en tu celular. Diseñamos y desarrollamos apps para Android y iOS. </p>
				</div>
			</div><! --/row -->
			
		</div><! --/container -->
	</div><! --/servicewrap -->
	
	<div id="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 mt">
				
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active mb centered">
					      <h3>SEBASTIAN MACIAS</h3>
					      <p>Sebastian es el fundador del equipo Robocol que ganó múltiples premios en la NASA. Aporta su experiencia como líder de grandes grupos de personas. Ingeniero Mecánico de la Universidad de los Andes.</p>
					      <p><img class="img-circle" src="{{STATIC_URL}}img/pic-t1.jpg" width="80"></p>
					    </div>

					    <div class="item mb centered">
					      <h3>CARLOS ROSO</h3>
					      <p>Carlos combina sus habílidades en diseño con su experiencia como programador. Ingeniero Electrónico de la Universidad de Los Andes. Afirma que lleva el diseño en la sangre. CR7, Messi tu papá.</p>
					      <p><img class="img-circle" src="{{STATIC_URL}}img/pic-t2.jpg" width="80"></p>
					    </div>

					  </div>
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					  </ol>
					</div>
					  
				</div><! --/col-lg-8 -->
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/testimonials -->
	
	<! -- SERVICE SECTION -->
	<section id="contact" name="contact"></section>
	<! -- CONTACT SEPARATOR -->
	<div class="sep contact" data-stellar-background-ratio="0.5"></div>
	
	<div id="contactwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<p>¡TRABAJEMOS JUNTOS!</p>
					<p>Si te gusta nuestro trabajo y quieres trabajar con nosotros, envíanos un saludo y nos contactaremos contigo en menos de 6 horas.</p>
					<p>
						<small>Calle 59 No. 10-59 Of. 303<br/>
						Bogotá, Colombia<br/>
						Join&amp;Enjoy</small>
					</p>
					<p>
						<small>Tel. (+571) 2353349<br/>
						Mail. holamundo@joinandenjoy.co<br/>
					</p>
			
				</div>
				
				<div class="col-lg-6">
					<form action = "/" method = "post">{% csrf_token %}
					  <div class="form-group">
					    <label for="exampleInputName1">Tu nombre</label>
					    {{formulario.nombre}}
					    <label for="exampleInputEmail1">Tu email</label>
					    {{formulario.email}}
					    <label for="exampleInputText1">Tu mensaje</label>
					    {{formulario.mensaje}}
					  </div>
					  <button type="submit" class="btn btn-default">Enviar</button>
					</form>
				</div>
			
			</div><! --/row -->
		</div><!-- /container -->
	</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/classie.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/smoothscroll.js"></script>
	<script src="{{STATIC_URL}}js/jquery.stellar.min.js"></script>
	<script src="{{STATIC_URL}}js/fancybox/jquery.fancybox.js"></script>    
	<script src="{{STATIC_URL}}js/main.js"></script>
		<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});
		</script>
		
		<script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });
	   </script>

  </body>
</html>
