	<!DOCTYPE html>
<html>
<body>
	Hello <strong>Dana Spa</strong>
<p>Buenas tardes.</p>
<br>
<p>Soy Sebastian Macias, del grupo creativo <strong>Join&amp;Enjoy</strong>de Bogotá y tenemos una propuesta para <strong>Wow Gentestilos.</strong> </p>
<br>
<p>Hemos desarrollado una Pagina web con las últimas tendencias en diseño para impulsar tu Negocio. </p>

<div style="text-align: center">
	<table style="margin-left: auto; margin-right: auto;">  
		<tr style = "height:0;">
			<td></td>
			<td rowspan=2 ><img src="cid:Mock-up.jpg"></td>
			<!--td rowspan=2 ><img src="https://dl.dropboxusercontent.com/u/6625828/Mock-up.jpg"></td-->
		</tr>  
		<tr style = "vertical-align:middle;">
			<td colspan=2 style = " padding-bottom:10%; padding-left: 3%; color: #ffffff; text-align: center; text-transform: uppercase; font-size:1.4em;">MAJA SPA</td>
		</tr>   
	</table>
</div>

<div style="text-align: center">
	<p>En el siguiente link encontrarás una muestra de lo que podrá ser su página:</p>
	<a href="http://joinandenjoy.co/marisol-caro-159291/">http://joinandenjoy.co/marisol-caro-159291/</a>
</div>

<div style="text-align: center">
	<p>El día de hoy le presentamos la promoción especial por el mes de Junio, la cual incluye el diseño gráfico, programación, Hosting, Dominio web* y un correo corporativo por un año, por tan sólo <strong>$400.000 pesos.</strong></p>
</div>

<p>Esta promoción es válida únicamente por el mes de Junio.</p>
<br>
<p>¿Tienes alguna duda, inquietud o sugerencia?</p>
<br>
<p>Contáctanos.</p>


<p><strong>Sebastian Macias</strong></p>
<br>
<p>¿Tienes alguna duda, inquietud o sugerencia?</p>
<br>
<p>Sebastian.Macias@joinandenjoy.co</p>

<p>No olvides visitar nuestra página web en <a href="www.joinandenjoy.co">www.joinandenjoy.co </a></p>

<br>
<p style ="font-size: 0.6em;">*Dominio web sujeto a disponibilidad.</p>
<p style ="font-size: 0.6em;">**La página web de muestra será deshabilitada en el 30 de junio de 2015</p>

</body>
</html>